{% extends 'IgorAdminBundle::layout.html.twig' %}

{% block heading %}{{ section.name }} list{% endblock %}

{% block body %}
    <table>
        <thead>
            <tr>
                {% for property in section.properties %}
                    <th>{{ property|humanize }}</th>
                {% endfor %}
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for entity in entities %}
                <tr>
                    {% for property in section.properties %}

                        {% set value = attribute(entity, property) %}

                        <td>
                            {% if value is not same as (null) %}
                                {% if value is iterable and value is not empty %}
                                    <ul>
                                        {% for item in value %}
                                            <li>{{ item|json_encode }}</li>
                                        {% endfor %}
                                    </ul>
                                {% else %}
                                    {{ value|json_encode }}
                                {% endif %}
                            {% endif %}
                        </td>
                    {% endfor %}
                    <td>{{ form(delete_forms[loop.index0]) }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
